* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #232226; 
    color: #ffffff;
    min-height: 100vh;
    padding: 30px 50px;
    position: relative;
}


.seta-voltar {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #FCEAA6;
    font-size: 35px;
    text-decoration: none;
    line-height: 1;
}

.container-aluguel {
    max-width: 900px;
    margin: 40px auto 0 auto;
}

.titulo-alugar {
    color: #FCEAA6;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}


.conteudo-aluguel {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

.bloco-poster {
    flex: 0 0 200px;
}

.poster-filme {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.bloco-formulario {
    flex: 1;
    max-width: 450px;
}

.grupo-input {
    margin-bottom: 30px;
}

.grupo-input input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #7a7980; 
    padding: 10px 5px;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.grupo-input input::placeholder {
    color: #7a7980; 
}

.grupo-input input:focus {
    border-bottom-color: #FCEAA6; 
}


.btn-confirmar-aluguel {
    width: 100%;
    background-color: #150d22;
    color: #ffffff;
    border: 1px solid #FCEAA6;
    padding: 14px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: background-color 0.2s;
}

.btn-confirmar-aluguel:hover {
    background-color: #241b40;
    color: #FCEAA6;
}